body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}
.logo {
  width: 120px;       /* Size chhota kiya */
  height: auto;
  display: block;
  margin: 10px auto;  /* Center align */
}
